<div class="container">
    <form [formGroup]="formularioPokemon" action="">
      <div class="form-group">
        <label for=""> id </label>
        <input type="text" class="form-control" formControlName="id" >
      </div>
      <div class="form-group">
        <label for=""> Nombre </label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>
      <div class="form-group">
        <label for=""> Descripcion </label>
        <input type="text" class="form-control" formControlName="descripcion">
        <label for=""> {{desTraducida}} </label>
      </div>
      <div class="form-group">
        <label for=""> tipo </label>
        <input type="text" class="form-control" formControlName="tipo">
        <label for=""> traduccion: {{tipoTraducida}} </label>
      </div>
      <div class="form-group">
        <label for=""> imagen </label>
        <input type="text" class="form-control" formControlName="imagen">
        <div class="container text-center">
          <img src="{{img}}" alt="" >
        </div>
      </div>
      
      <button class="btn btn-primary " [disabled]="!formularioPokemon.valid" (click)="agregar()"> Agregar</button>
    </form>
  </div>
  
  
  